extends layouts/layout

//- prepend menu
//-     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius non ullam repudiandae eos asperiores vel nulla aut molestiae temporibus assumenda nam, quas doloribus sunt? Aliquid libero nisi vitae facilis deserunt.

block main 
    section.page__hero.hero 
        .hero__container.container 
            h1.hero__title.title Це головний блок Контенту