extends layouts/layout

prepend header
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.

block main 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione iste ducimus aliquam incidunt quidem, numquam rem ipsa assumenda nulla recusandae dolor culpa alias hic, odio, dignissimos deserunt dicta iusto quis!

append footer 
    p Lorem ipsum dolor sit amet...

append scripts 
    script(src="./js.script.js")