footer.footer 
    .footer__container.container 
        p.footer__text Тут має бути підвал сайту
        address.footer__address.address
            ul.address__list.list
                li.address__item.item 
                    a(href="http://facebook.com") Facebook 
                li.address__item.item 
                    a(href="tel:380687474896") +380687474896 
                li.address__item.item 
                    a(href="mailto:valera.droniak@gmail.com") valera.droniak@gmail.com
        //- section.footer__social.social 
        //-     ul.social__list
        //-         li.social__item
        //-             a.social__link.link(href="") 
        //-                 svg.social__icon 
        //-         li.social__item
        //-             a.social__link.link(href="")
        //-                 svg.social__icon 
        //-         li.social__item
        //-             a.social__link.link(href="")
        //-                 svg.social__icon 
        //-         li.social__item
        //-             a.social__link.link(href="")
        //-                 svg.social__icon 