header.header 
    .header__container.container 
        a.header__logo.logo(href="./") #[span Web]Studio
        .header__menu_container 
            nav.header__menu.menu 
                include functions 
            .header__contact_nav.contact_nav
                ul.contact_nav__list.list 
                    li.contact_nav__item.item 
                        a.contact_nav__link(href="mailto:info@devstudio.com") info@devstudio.com
                    li.contact_nav__item.item 
                        a.contact_nav__link(href="tel:+380687079896") +38 068 70 79 896 

//- include social